<section class="container mt-5 p-1">
    <div class="row justify-content-center">
        <!-- Producto 1 -->
        <div class="col-md-3">
            <div class="card text-center">
                <img class="card-img-top" src="https://juanmosquera.neocities.org/ImagenesAudible/estandar_mensual.png" alt="Suscripción Estandar Mensual">
                <div class="card-body">
                    <h5 class="card-title">Suscripción Estandar Mensual</h5>
                    <p class="card-text">$15</p>
                    <button class="btn btn-primary" onclick="agregarAlCarrito(this.getAttribute('data-producto'))" data-producto='{"productoID":1, "nombre":"Suscripción Estandar Mensual", "precio":15}'>
                        Agregar al carrito
                    </button>
                </div>
            </div>
        </div>

        <!-- Producto 2 -->
        <div class="col-md-3">
            <div class="card text-center">
                <img class="card-img-top" src="https://juanmosquera.neocities.org/ImagenesAudible/premium_mensual.png" alt="Suscripción Premium Mensual">
                <div class="card-body">
                    <h5 class="card-title">Suscripción Premium Mensual</h5>
                    <p class="card-text">$25</p>
                    <button class="btn btn-primary" onclick="agregarAlCarrito(this.getAttribute('data-producto'))" data-producto='{"productoID":2, "nombre":"Suscripción Premium Mensual", "precio":25}'>
                        Agregar al carrito
                    </button>
                </div>
            </div>
        </div>

        <!-- Producto 3 -->
        <div class="col-md-3">
            <div class="card text-center">
                <img class="card-img-top" src="https://juanmosquera.neocities.org/ImagenesAudible/estandar_anual.png" alt="Suscripción Estandar Anual">
                <div class="card-body">
                    <h5 class="card-title">Suscripción Estandar Anual</h5>
                    <p class="card-text">$45</p>
                    <button class="btn btn-primary" onclick="agregarAlCarrito(this.getAttribute('data-producto'))" data-producto='{"productoID":3, "nombre":"Suscripción Estandar Anual", "precio":45}'>
                        Agregar al carrito
                    </button>
                </div>
            </div>
        </div>

        <!-- Producto 4 -->
        <div class="col-md-3">
            <div class="card text-center">
                <img class="card-img-top" src="https://juanmosquera.neocities.org/ImagenesAudible/premium_anual.png" alt="Suscripción Premium Anual">
                <div class="card-body">
                    <h5 class="card-title">Suscripción Premium Anual</h5>
                    <p class="card-text">$60</p>
                    <button class="btn btn-primary" onclick="agregarAlCarrito(this.getAttribute('data-producto'))" data-producto='{"productoID":4, "nombre":"Suscripción Premium Anual", "precio":60}'>
                        Agregar al carrito
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

