<link rel="stylesheet" href="../../stylesheet/audios_mas_escuchados.css">
<div class="container body-content">
    <div id="view-content">
        <div class="secondary-view">
            <h1>Audios Más Escuchados</h1>
            <table id="audiosMasEscuchadosTable" class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Título</th>
                        <th>Autor</th>
                        <th>Veces Escuchado</th>
                    </tr>            
                </thead>
                <tbody></tbody>
            </table>
            <nav>
                <ul class="pagination" id="pagination"></ul>
            </nav>
            <div class="chart-container">
                <canvas id="audiosMasEscuchadosChart" width="400" height="200"></canvas>
            </div>
        </div>
    </div>
</div>
<script src="../../Scripts/comprarAction.js"></script>
<script src="../../Scripts/audios_mas_escuchados.js"></script>